# docker-compose env vars
# @see https://docs.docker.com/compose/reference/envvars/
COMPOSE_CONVERT_WINDOWS_PATHS=1
CURDIR=${PWD}

# Docker image version
SOCKET_PROXY_VERSION=0.1
TRAEFIK_VERSION=2.11
ALPINE_VERSION=3.19

# Traefik Ports config
TRAEFIK_HOST_HTTP_PORT=80
TRAEFIK_HOST_HTTPS_PORT=443

# Timezone for os and log level
TIMEZONE=Asia/Jakarta

# TRAEFIK CONFIG
# Domain name
TRAEFIK_DOMAIN_NAME=domain_name.com
# Traefik log level: INFO|ERROR|DEBUG
TRAEFIK_LOG_LEVEL=INFO

## Acme provider (cloudflare)
TRAEFIK_ACME_DNS_CHALLENGE_PROVIDER=cloudflare
# Acme email (provide valid email)
TRAEFIK_ACME_DNS_CHALLENGE_PROVIDER_EMAIL=email@mail.com
# Acme access token (provide valid access token) (cloudflare)
TRAEFIK_ACME_DNS_CHALLENGE_PROVIDER_TOKEN=token_cloudflare_or_digitalocen

# TRAEFIK DASHBOARD
## Traefik Dashboard true|false
TRAEFIK_DASHBOARD=true
## Traefik Dashboard subdomain monitor.domain.com
TRAEFIK_DASHBOARD_SUBDOMAIN=monitor

# TRAEFIK MIDDLEWARES CONFIG
## Traefik Dashboard basic auth username
TRAEFIK_BASIC_AUTH_USERNAME=admin
## Traefik Dashboard basic auth password encode base64 (read doc)
TRAEFIK_BASIC_AUTH_PASSWORD_HASH=JGFwcjEkOVdtNjRHalUkT2dBOEhJNEwxUzYxVXJXbE9aYkNaMQ==

## Middleware rate limit
TRAEFIK_MID_RATE_LIMIT_AVERAGE=100
TRAEFIK_MID_RATE_LIMIT_BURST=50

## Middleware SECURITY Headers
TRAEFIK_MID_SEC_CUST_RESPONSE_X_ROBOTS_TAG=none,noarchive,nosnippet,notranslate,noimageindex
TRAEFIK_MID_SEC_CUST_RESPONSE_X_FORWARDED_SERVER=
TRAEFIK_MID_SEC_CUST_RESPONSE_X_FORWARDED_PROTO=https
TRAEFIK_MID_SEC_CUST_REQUEST_X_FORWARDED_PROTO=https
TRAEFIK_MID_SEC_CUST_SSL_PROXY_X_FORWARDED_PROTO=https
TRAEFIK_MID_SEC_HOSTS_PROXY="X-Forwarded-Host"
TRAEFIK_MID_SEC_REFERRER_POLICY=strict-origin-when-cross-origin
TRAEFIK_MID_SEC_CONTENT_TYPE_NO_SNIFF=true
TRAEFIK_MID_SEC_BROWSER_XSS_FILTER=true
TRAEFIK_MID_SEC_FORCE_STS_HEADER=true
TRAEFIK_MID_SEC_STS_INCLUDE_SUBDOMAIN=true
TRAEFIK_MID_SEC_STS_SECONDS=63072000
TRAEFIK_MID_SEC_STS_PRELOAD=true
TRAEFIK_MID_SEC_FRAME_DENY=true
TRAEFIK_MID_SEC_CONTENT_SECURITY_POLICY="default-src 'self' 'unsafe-inline';"
TRAEFIK_MID_SEC_PERMISSION_POLICY="geolocation=(self),microphone=(),camera=(),payment=(),usb=(),vr=(),fullscreen=*"

## Middleware CORS Headers
TRAEFIK_MID_CORS_ALLOW_CREDENTIALS=true
TRAEFIK_MID_CORS_ALLOW_HEADERS="*"
TRAEFIK_MID_CORS_ALLOW_METHODS="OPTION GET POST PUT PATCH DELETE"
TRAEFIK_MID_CORS_ALLOW_ORIGIN_LIST="http://localhost:3000 https://app.domain_name.com"
TRAEFIK_MID_CORS_MAX_AGE=100
TRAEFIK_MID_CORS_ADD_VERY_HEADER=true

## Middleware response cache control
TRAEFIK_MID_RESPONSE_CACHE_CONTROL=no-cache,max-age=0

## Middleware COMPRESSION Headers
TRAEFIK_MID_COMPRESS="{}"
